section {
    width: 100%;
}

section>.house-decribe>div>img {
    width: 100%;
    height: 100%;
}

section>.house-decribe>div+div {
    padding-top: 2.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

section>div>div+div h1 {
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
}

section .house-price1 {
    font-size: 1.6rem;
    display: flex;
    padding-bottom: 1.5rem;
}

section .house-price1 span {
    color: #db4c3f;
    font-weight: bold;
}

section .house-price1 img {
    padding-left: 6rem;
    height: 2rem;
    width: 1.3rem;
}

section .house-decribe>div>p {
    font-size: 1.6rem;
    color: #b2b2b2;
}

section .h-alone {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

section .h-alone span {
    display: inline-block;
    font-size: 1.2rem;
    padding: .5rem;
    color: #849aae;
    background-color: #dee9f0;
}

.bg-color {
    height: 3.2rem;
    background-color: #e0dfdf;
    border-top: solid .2rem #929191;
    border-bottom: solid .2rem #929191;
    box-sizing: border-box;
}

.sort> {
    width: 100%;
}

.sort>.house-sort {
    width: 28rem;
    padding-left: 2rem;
}

.sort>.house-sort>li {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid .2rem#ceb0b0;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
}

.sort>.house-sort>li:last-of-type {
    color: #b2b2b2!important;
    border-bottom: none;
}

.fendjian,
.special {
    width: 100%;
}

.special>.special-contain {
    width: 28rem;
    padding-left: 2rem;
}

.special div h3,
.fenjian>div>h3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.6rem;
    color: #db4c3f;
    border-bottom: solid 1px #b2b2b2;
}

.special div p {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
}

.special div p:nth-of-type(2) {
    text-align: center;
}

.fenjian .fenjian-contain h3 {
    font-size: 1.6rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
}

.fenjian .house-sort {
    width: 28rem;
    padding-top: 2rem;
}

.fenjian .house-sort li {
    padding-left: 2rem;
    display: flex;
    padding-bottom: 2rem;
}

.fenjian .house-sort li div img {
    width: 8rem;
    height: 8rem;
}

.fenjian .house-sort li .decribe {
    padding-left: 2rem;
}

.fenjian .house-sort li .decribe div span {
    color: #849aae;
    background-color: #f4f7f9;
}

.school {
    width: 28rem;
    padding-left: 2rem;
}

.school>h3 {
    font-size: 1.6rem;
    padding-bottom: 2rem;
    border-bottom: solid .1rem #b2b2b2;
}

.school-describe {
    font-size: 1.2rem;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid .1rem #b2b2b2;
}

.school-describe p:nth-of-type(1) {
    color: #b2b2b2;
}

.school-describe+p {
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}

.map {
    padding-top: 2rem;
    padding-left: 2rem;
    width: 28rem;
}

.map h3 {
    font-size: 1.6rem;
    padding-bottom: 2rem;
}

.map img {
    width: 28rem;
    padding-bottom: 2rem;
}

.tuijian>h3 {
    padding-left: 2rem;
    font-size: 1.6rem;
    padding-bottom: 2rem;
    border-bottom: solid .2rem #b2b2b2;
}

section div.tuijian {
    width: 100%;
    padding-top: 2.4rem;
    background-color: #fff;
    border-bottom: solid 1px #b2b2b2;
}

section div.tuijian ul.house-sort {
    padding-left: 2rem;
    width: 28rem;
}

section div.tuijian ul.house-sort li {
    padding-top: 2rem;
    width: 28rem;
    display: flex;
    padding-bottom: 2.2rem;
    border-bottom: solid 1px #b2b2b2;
}

section div.tuijian ul li div.l img {
    width: 8rem;
    height: 8rem;
}

section div.tuijian ul li div h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.6rem;
}

section div.tuijian ul li div+div.decribe {
    padding-left: 1.2rem;
    width: 18.7rem;
}

.house-area {
    float: left;
    font-size: 1.2rem;
}

.house-price {
    float: right;
    font-size: 1.2rem;
}

section div.tuijian ul li:last-of-type {
    border-bottom: none!important;
}

section div.tuijian ul li div.house:nth-of-type(1)>p.house-area {
    color: #b2b2b2;
    font-size: 1.2rem;
}

section div.tuijian ul li div.house:nth-of-type(1)>p.house-price {
    color: #ff8a00;
    font-size: 1.2rem;
}

div.tuijian ul li div.house:nth-of-type(2) {
    color: #666;
}

.house-sort {
    margin-top: 1rem;
}

.house-sort span {
    height: 2rem;
    padding: .5rem;
    color: #849aae;
    margin-right: .5rem;
    background-color: #f4f7f9;
}

section>p {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    color: #666;
    text-align: center;
}

.footer {
    display: flex;
    position: relative;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.footer>.l>img {
    position: absolute;
    top: 2rem;
    left: 5rem;
    width: 2.1rem;
    height: 2.1rem;
}

.footer>.l>span {
    display: inline-block;
    width: 20rem;
    color: #fff;
    height: 4rem;
    line-height: 4rem;
    border-radius: .8rem;
    text-align: center;
    background-color: #ff8a00;
}

.footer>.r>img {
    padding-top: 1rem;
    width: 2.1rem;
    height: 2.1rem;
    padding-left: 1.6rem;
    padding-right: .5rem;
}

.footer>.r>span {
    display: inline-block;
    padding-top: -1rem;
}