body {
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 10rem;
}

li {
    list-style: none;
}

.go {
    font-size: 1.6rem;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    padding-left: 1rem;
    background-color: white;
    box-sizing: border-box;
}

section {
    background-color: white;
    width: 100%;
}

section .name {
    width: 100%;
    position: relative;
}

section .name #bg1 {
    width: 100%;
}

section .name #user2 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

section .name .welcome {
    font-size: 2rem;
    width: 30rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    color: white;
    position: absolute;
    top: 14rem;
    left: 50%;
    transform: translateX(-50%);
}

section .my_masage {
    width: 100%;
    border-bottom: 0.1rem #ccc solid;
}

section .my_masage ul li {
    height: 5rem;
    line-height: 5rem;
    padding-top: 1rem;
    font-size: 2rem;
    width: 90%;
    margin-left: 2rem;
    color: #666666;
    border-bottom: 0.1rem #ccc solid;
}

section .my_masage ul li span {
    display: inline-block;
    width: 14rem;
    margin-right: 25%;
    height: 5rem;
    line-height: 5rem;
}

section .my_masage ul li img {
    padding-top: 1rem;
}

section .my_masage .three {
    border-bottom: none;
}

.exit {
    text-align: center;
    font-size: 2.6rem;
    color: #ff8a00;
    border: 0.1rem #ccc solid;
    width: 90%;
    height: 5rem;
    line-height: 5rem;
    background-color: white;
    margin: 5rem auto;
}

#bord {
    border: 0.1rem white solid;
    width: 8rem;
    line-height: 3.5rem;
    height: 3.5rem;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.zhan {
    display: inline-block;
    width: 5rem;
}